<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--Stables-->
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!--Unstables-->
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="AspNetRelease" value="https://www.myget.org/F/aspnetrelease/api/v3/index.json" />
    <add key="npgsql" value="https://www.myget.org/F/npgsql/api/v3/index.json" />
    <add key="npgsql-unstable" value="https://www.myget.org/F/npgsql-unstable/api/v3/index.json" />
  </packageSources>
</configuration>
